.headerContainer {
  height: 6rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  img {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

 
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;

    p {
      font-weight: bold;
    }

    button {
      background: transparent;
      border: none;

      color: var(--gray-100)
    }

    button:hover {
      color: #6633CC;
    }
  }
}