.container {
  border: 1.5px solid var(--gray-800);
  width: 50rem;
  height: 30rem;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;

  .headerContainer {
    display: flex;
    margin-bottom: 2rem;
    gap: 3rem;

    h4 {  
      font-size: 0.8rem;
    }
  }

  .bodyContainer {
    
    h2 {
      margin-bottom: 2rem
    }

    p {
      margin-bottom: 5rem;
    }
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .data {
      margin-bottom: 3rem;
    }

    .btns {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btnDelete {
        background-color: transparent;
        border: none;
        color: var(--gray-100);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 2.5rem;
        border-radius: 1rem;
        font-size: 20px;
      
        &:hover {
          color: #bb2626;
        }
      }

      .btnFinished {
        background-color: transparent;
        border: none;
        color: var(--gray-100);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 2.5rem;
        border-radius: 1rem;
      
        &:hover {
          color: #198f33;
        }
      }

      .btnIsFinished {
        background: transparent;
        color: #198f33;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-right: 2.5rem;
        border-radius: 1rem;
        font-size: 20px;
      }
    }
    
  }
}