.container {
  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
  
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    button {
      background-color: #6633CC;
      border: none;
      color: var(--gray-100);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 1rem;
  
      &:hover {
        filter: brightness(0.8);
    }
  }

  }
}

.contentContainer {
  padding-top: 8rem;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.modalContainer {
  width: 34rem;
  height: 34rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modalBody {

  input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray-100);
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 0.5rem;
  
    &::placeholder {
      color: transparent;
    }
  }

  select {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray-100);
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 0.5rem;
        
    option {
      color: var(--gray-900);
      background: var(--gray-100);
    }
  
    &::placeholder {
      color: transparent;
    }
  }
}

.footerModal {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btnClose {
  background-color: #6633CC;
  border: none;
  color: var(--gray-100);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 2.5rem;
  border-radius: 1rem;

  &:hover {
    filter: brightness(0.8);
  }
}

.btnSave {
  background-color: #1e9549;
  border: none;
  color: var(--gray-100);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;

  &:hover {
    filter: brightness(0.8);
  }
}